*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: sans-serif;
    box-sizing: border-box;
    color: black;
    

}
html{
    font-size: 71.5%;
}
#navbar_main{
    background-color:black;
    color: #fff;

}
a{
    text-decoration: none;
}
.btn{
    background-color: #860d02;
 
}
#btn{
    background-color: #860d02;
 
}
.container{
    width: 100%;


}

/* section  */
#awesome-main-section{
    padding: 80px 0px;
    background-color: whitesmoke;

}
.common-heading{
    font-size: 30px;
    text-align: center;
 margin-bottom: 20px;
 margin-top: 20px;
 color: black;
 font-weight: 500;

}
 .common-divider{
    width: 8%;
    background-color: #444;
    height: 2px;
    border: none;
    margin: 0 auto;
   
    margin-bottom: 30px;
}
.common-paragraph{
 color: #444;
 text-align: center;
 font-size: 15px;
} 
#awesome-main-icons{
    display: flex;
    margin-top: 60px;
text-align: center;
    justify-content: space-between;
    gap: 40px;
}
.awesome-icons img{
    margin-bottom: 40px;
    width: 100px;
    height: 80px;
}
.awesome-icons h3{
   
    text-align: center;
    margin-bottom: 20px;

}
.awesome-icons p{
    color: #444;
    font-size: 13px;
    margin-bottom: 30px;
    text-align: center;
}



header nav a{
    font-size: 1.4rem;
    margin-left: 20px;
}
header nav a img{
    height: 7rem;
}
footer {
    background-color: black;
}
#abc a {
    color: #fff;
}
#abc p a{
    color: #fff;
}

footer li a{
    color: #fff;
}
footer h4{
    font-size: 2rem;
}
footer h4,p,a i{
    color: #fff;
    text-decoration: none;
}
footer ul li a{
    margin-left: 2rem;
}
footer #support ul li a:hover{
color: #fff;
}
footer #topbrand  ul li a:hover{
    color: #fff;
    }
footer{
        font-size: 1.5rem;
    }

    #contact .container #context h5{
        color:#770d03;
        font-weight: 700;
        font-size: 1.8rem;
    }
    #contact .container #context p{
        color:#770d03;
        font-weight: bold;
        margin-left: 2rem;
    }
.container #subtext p{
    color: #444;
    text-align: center;
    justify-content: space-between;
    margin-right: 2rem;
}
.container #subtext h5{
    margin-top: 1rem;
    margin-left: 23%;
    font-size: 2.4vw;}

    @media(max-width:390px){

 .container #subtext h5{
    margin-top: 1rem;
    margin-left: 29vw;
    font-size: 4.2vw;
font-weight: bold;}
    .container #subtext p{
        color: #444;
        text-align: center;
        justify-content: space-between;
        margin-right: 2rem;
        font-size: 3.3vw;
    }
    .box3 img{
        margin-left: 16%;
        margin-top: 1.5vw;
        height: 18vw;
    
    }
    }
#box1{
    display: flex;
    margin-top: 10px;
}


@media(max-width:998px){
    html{
        font-size: 75%;
    }
}
@media(max-width:768px){
    html{
        font-size: 65%;
    }
}
@media (max-width:600px) {
    #awesome-main-section{
        flex-direction: column;
    }
    #awesome-main-icons{
        flex-direction: column;
    }
}


.box4{
    margin-top: 2rem;
}
.box4 .heading h3{
    font-size: 30px;
    font-family: sans-serif;
font-weight: 500;
padding-top: 2rem;
padding-bottom: 1rem;
color: black;
margin-left: 37%;
}
.common-div{
    width: 8%;
    background-color: #444;
    height: 2px;
    border: none;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-left: 45%;
}

.box4 .heading #btn{
    margin-left: 8vw;
    width: 17vw;
    font-size: 15px;
    margin-top: 1.4vw;
    text-align: center;
    margin-bottom: 3vw;
    color: #fff;
    background-color: #860d02;

}
.box4 .heading button{
    margin: 2vw;
    width: 17vw;
    font-size: 15px;
    margin-top: 1.4vw;
    text-align: center;
    margin-bottom: 3vw;
    color: #fff;
    background-color: #860d02;

}

@media(max-width:390px){
    .box4 .heading #btn{
        margin-left: 30vw;
        width: 39vw;
        font-size: 2.6vw;
        margin-top: 1.4vw;
        text-align: center;
        margin-bottom: 3vw;
        color: #fff;
        background-color: #860d02;
        display: block;
    
    }
    .box4 .heading button{
        justify-content: center;
        margin-left: 30vw;
        width: 39vw;
        font-size: 2.6vw;
        margin-top: 1.4vw;
        text-align: center;
        margin-bottom: 3vw;
        color: #fff;
        background-color: #860d02;
        display: block;
    
    }
    .box4 .heading h3{
     font-size: 7vw;
     font-family: sans-serif;
    font-weight: bold;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: black;
    margin-left: 13vw;
    }

}
#contact{
    font-size: 1rem;
}


/* animation */
nav ul li{
    animation-name: menu;
animation-duration: 2s;
}
@keyframes menu{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        opacity: 0.80;
        transform: translateX(80px);
    }
    100%{
        opacity: 1;
        transform: translateX(10px);
    }
    
    }

